/* :root{
    --light: #FFFFFF;
    --dark: #000000;
    --primaire: #004E98;
    --secondaire: #3A6EA5;
    --tertiaire: #C0C0C0;
    --quaternaire: #EBEBEB;
    --quinaire: #FF6700;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #004E98;
    background: linear-gradient(316deg,rgba(0, 78, 152, 1) 0%, rgba(235, 235, 235, 1) 100%);
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 40rem;
    height: auto;
    border: 1px solid var(--dark);
}

h1{
    position: absolute;
    text-align: center;
    width: 100%;
}

table{
    width: 75%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 80%;
    border-collapse: collapse;
    border-bottom: 3px solid var(--dark);
    box-shadow: 20px 20px 20px var(--dark);
}

thead{
    background: #004E98;
    background: linear-gradient(76deg,rgba(0, 78, 152, 1) 0%, rgba(235, 235, 235, 1) 100%);
    color: var(--light);
}

tbody tr:nth-child(odd) {
    background: #C0C0C0;
    background: linear-gradient(90deg,rgba(192, 192, 192, 1) 72%, rgba(58, 110, 165, 1) 100%);
}

tbody tr:nth-child(even) {
    background: #EBEBEB;
    background: linear-gradient(270deg,rgba(235, 235, 235, 1) 72%, rgba(58, 110, 165, 1) 100%);
}


th{
    text-align: left;
    border: 3px solid var(--dark);
    padding: 2rem;
}

td{
    border: 3px solid var(--dark);    
}

footer{
    margin-left: auto;
    margin-right: auto;    
    width: 50rem;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--dark);
    background-color: var(--quinaire);
    padding: 2rem;
}
 */
