:root{
    --light: #FFFFFF;
    --dark: #000000;
    --primaire: #004E98;
    --secondaire: #4b84c0;
    --tertiaire: #C0C0C0;
    --quaternaire: #EBEBEB;
    --quinaire: #E98848;
    --valide: #6DD100;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #C0C0C0;
    background: linear-gradient(142deg,rgba(192, 192, 192, 1) 29%, rgba(58, 110, 165, 1) 100%);
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    color: var(--light);
    align-items: center;
    background-image: url(/src/img/logo/bannière.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
}

.logoCRM{
    width: 40rem;
    height: auto;
    border: 1px solid var(--dark);
    background-color: var(--light);
}

h1{
    position: absolute;
    text-align: center;
    width: 100%;
}

.icone{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    background-color: var(--quaternaire);
    padding: 2rem;
}

.listeIcone{
    padding-right: 7rem;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primaire);
    border: 2px solid var(--primaire);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1.5rem;
}

a:hover{
    background-color: var(--secondaire);
    color: var(--quaternaire);
}

.maison{
    width: 50px;
    height: auto;
}

.tabRole{
    width: 75%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 80%;
    border-bottom: 3px solid var(--dark);
    box-shadow: 20px 20px 20px var(--dark);
    border: solid 5px var(--dark);
}

.theadRole{
    background-color: var(--primaire);
    color: var(--light);
}

.tbodyRole tr:nth-child(odd) {
    background-color: var(--tertiaire);
}

.tbodyRole tr:nth-child(even) {
    background-color: var(--quaternaire);
}

.thRole{
    text-align: left;
    padding: 2rem;
}

.thRole, .tdRole{
    border: 2px solid var(--dark);
    border-collapse: separate;
}

.tabListeUtilisateur{
    width: 100%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 80%;
    border-bottom: 3px solid var(--dark);
    box-shadow: 20px 20px 20px var(--dark);
    border: solid 5px var(--dark);
}

.theadListeUtilisateur{
    background-color: var(--primaire);
    color: var(--light);
}

.tbodyListeUtilisateur{
    background-color: var(--quaternaire);
}

.tbodyListeUtilisateur tr:nth-child(odd){
    background-color: var(--tertiaire);
}

.tbodyListeUtilisateur tr:nth-child(even){
    background-color: var(--quaternaire);
}

.thListeUtilisateur{
    padding: 1rem;
}

.tdListeUtilisateur{
    padding: 1rem;
    font-size: 14px;
}

.thListeUtilisateur, .tdListeUtilisateur{
    border: 2px solid var(--dark);
    border-collapse: separate;
}

.separateur{
    background-color: var(--dark);
    width: 1.5rem;
}

.tdListeUtilisateur:nth-child(6){
    text-align: center;
}

.tdListeUtilisateur:nth-child(8){
    text-align: center;
}

.tdListeUtilisateur:nth-child(10){
    text-align: center;
}

footer{
    margin-left: auto;
    margin-right: auto;    
    width: 50rem;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--dark);
    background-color: var(--quinaire);
    padding: 2rem;
}

